// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ALPHA 0
#define NUMBERS 1
#define EXCEL 2
#define BOOT 3
#define COLEMAK 4
#define GAMING 5

&lt { quick_tap_ms = <400>; tapping_term_ms = <400>; };

/ {
    //USED TO ACCESS BLUETOOTH CONFIG LAYER
    behaviors {
        td0: tap_dance_0 {
            label = "TAP_DANCE_0";
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp RCMD>, <&kp RCMD>, <&to BOOT>, <&to COLEMAK>, <&to GAMING>;
        };

        semicoloncolon: semicolon_colon {
            label = "SEMICOLON_COLON";
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp SEMICOLON>, <&kp COLON>;
        };

        commadot: comma_dot {
            label = "COMMA_DOT";
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp COMMA>, <&kp DOT>;
        };

        sqtdqt: sqt_dqt {
            label = "SQT_DQT";
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp SQT>, <&kp DQT>;
        };

        slashquestion: slash_question {
            label = "SLASH_QUESTION";
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp SLASH>, <&kp QUESTION>;
        };

        htl: holdto_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTO_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&to>, <&kp>;
        };

    };

    //CURRENTLY UNUSED
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
        //ALPHA LAYER aka 0
        ALPHA {
            bindings = <
        //
                &kp Q      &kp W      &kp E       &kp R          &htl EXCEL T            &htl EXCEL Y   &kp U   &kp I         &kp O        &kp P
        //
                &kp A      &kp S      &kp D       &kp F          &kp G                     &kp H          &kp J   &kp K         &kp L        &commadot
        //
                &kp Z      &kp X      &kp C       &kp V          &kp B                     &kp N          &kp M   &slashquestion  &sqtdqt  &semicoloncolon
        //
                                                  &mo NUMBERS     &kp SPACE                 &kp ENTER      &kp LSHFT
            >;
        };

        //NUMBERS LAYER aka 1
        NUMBERS {
            bindings = <
        //
                &kp N0        &kp N1         &kp N2          &kp N3     &kp N4                       &kp N5                &kp N6     &kp N7     &kp N8   &kp N9
        //
                &kp C_VOL_DN  &kp C_VOL_UP   &kp MINUS       &kp PLUS   &kp BACKSPACE                &none                 &kp LT     &kp GT     &td0    &trans 
        //
                &kp C_BRI_DN  &kp C_BRI_UP   &kp UNDERSCORE  &kp EQUAL  &kp ESC                      &none    &kp LBKT   &kp RBKT   &trans    &trans 
        //
                                                             &sk LSHFT  &trans                       &trans                &sk LSHFT 
            >;
        };

        //ARROWS AND COPYPASTE LAYER with extra numbers aka 2
        EXCEL {
            bindings = <
        //
                &kp A  &kp LEFT  &kp UP    &kp RIGHT  &htl ALPHA Z               &htl ALPHA ESC &kp N7 &kp N8 &kp N9 &none
        //
                &none     &kp LEFT  &kp DOWN  &kp RIGHT  &kp C                    &none        &kp N4   &kp N5   &kp N6 &none
        //
                &kp ESC   &none     &none     &kp V      &kp X                    &kp N0       &kp N1   &kp N2   &kp N3 &none
        //
                                              &kp LCMD   &trans                   &trans       &kp LSHFT
            >;
        };
        
        //BOOTLOADER STUFF aka 3
        BOOT {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  RESET   │          │          │PROFILE 2 │   │          │          │          │  RESET   │          │
             &none    &sys_reset   &none      &none    &bt BT_SEL 2     &none      &none      &none    &sys_reset   &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │BOOTLOADER│          │          │PROFILE 1 │   │          │          │          │BOOTLOADER│          │
             &none    &bootloader  &none      &none    &bt BT_SEL 1     &none      &none      &none    &bootloader  &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │PROFILE 0 │   │          │          │          │          │          │
             &none      &none      &none      &none    &bt BT_SEL 0     &none      &none      &none      &none      &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                              &bt BT_CLR  &trans       &trans      &htl ALPHA RCMD
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        //COLEMAK-DH LAYER aka 4
        COLEMAK {
            bindings = <
        //
                &kp Q      &kp W      &kp F       &kp P          &htl EXCEL B              &htl EXCEL J   &kp L   &kp U         &kp Y        &semicoloncolon
        //
                &kp A      &kp R      &kp S       &kp T          &kp G                     &kp M          &kp N   &kp E         &kp I        &kp O
        //
                &kp Z      &kp X      &kp C       &kp D          &kp V                     &kp K          &kp H   &slashquestion  &sqtdqt  &commadot
        //
                                                  &mo NUMBERS     &kp SPACE                 &kp ENTER      &kp LSHFT
            >;
        };

        //ARROWS AND COPYPASTE LAYER with extra numbers aka 5
        GAMING {
            bindings = <
        //
                &kp C     &kp X     &kp W     &kp R       &htl ALPHA N3               &htl ALPHA ESC &kp N7 &kp N8 &kp N9 &none
        //
                &none     &kp A     &kp S     &kp D       &kp N2                      &none        &kp N4   &kp N5   &kp N6 &none
        //
                &kp ESC   &none     &kp SPACE     &kp SPACE       &kp N1                      &kp N0       &kp N1   &kp N2   &kp N3 &none
        //
                                              &kp LSHFT   &kp E                      &trans       &kp LSHFT
            >;
        };
    };
};
